/* Styling for the container */
.app-container {
  text-align: center;
  margin-top: 10px;
  margin-top: 150px;
}

.calcheader {
  margin-bottom: 20px;
}

.calcbutton-container {
  margin: 20px 0;
}


.calcbutton {
  background-color: rgb(230, 81, 3);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.calcbutton:hover {
  background-color: #121313;
}

.component-display {
  margin-top: 2px;
  /* background: rgba(0, 0, 0, 0.6); */
  padding: 2px;
  border-radius: 10px;
  display: inline-block;
}
