/* Styling for the container */
.app-container {
  text-align: center;
  margin-top: 10%;
}

.header {
  margin-bottom: 20px;
}

.button-container {
  margin: 20px 0;
}


button {
  background-color: rgb(230, 81, 3);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #04080b;
}

.component-display {
  margin-top: 2px;
  /* background: rgba(0, 0, 0, 0.6); */
  padding: 2px;
  border-radius: 10px;
  display: inline-block;
}
